.Tenant{
	
	margin: 24px 73px 3px -342px;
}

.RentPay{
 
     margin: 24px 120px 5px -63px;	
}

.OtherServices{
       margin: 24px 109px 45px -126px;

}

.blog{
	
	    margin: 24px 127px 33px -108px;
}

.ListProperty{
	margin: 24px 4px 36px -50px;
	
}

.ManageListings{
	margin: 24px 15px 10px 10px;
	
}

.contact{
	    margin: 24px -7px 18px 1px;

	
}