.pCities {
  color: #262035;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 29px 24px 70px 283px;
  text-align: left;
}

.uls {
  display: block;
  list-style-type: disc;
  margin: 10px 10px 10px 10px;
  text-align: left;
}

.lia {
  display: block;
  color: black;
  text-align: center;

  padding: 16px;
  text-decoration: none;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin: -46px 4px 11px 41px;
  color: #000a73;
  text-align: left;
  font-weight: 500;
}

.rCities {
  margin: -11px 228px 19px 230px;
  color: #002060;
}

.mCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.nCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.oCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.qCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.lCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.hCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.pCities {
}
.pwqCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.llCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.hhCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.uuCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.uaCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.ubCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.ucCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.udCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.ufCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.ugCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.uhCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}

.uiCities {
  margin: -11px 228px 19px 230px;
  color: blue;
}
